.welcome {
  margin-bottom: 1em;
  margin-top: 3.7em;
}

.recipe--welcome--img {
  width: 95%;
  margin: 0 auto;
  border-radius: 0.5em;
  background-image: url("../img/welcome.jpg");
  background-size: cover;
  padding: 0em 5em 5em 5em;
}

.infotext,
.infotext p {
  margin-top: 2em;
  color: #dcdcdc !important;
  font-size: 0.9em;
}

.contactimgtwo {
  display: none;
}

.welcome--text {
  border-radius: 0.5em;
  justify-content: space-between;
  margin: 0 auto;
  /* width: 85%;
  padding: 2em 0em; */
  padding-bottom: 1em;
}

h1 {
  color: #fddc9a !important;
  /*-webkit-text-stroke: 0.5px #f8f8f8;*/
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  /* text-transform: lowercase; */
}

.flex {
  width: 70%;
  margin: 0 auto;
  /* align-items: flex-start;
  align-self: flex-start; */
  padding: 5em 5em;
  padding-top: 3em;

  border-radius: 0.5em;
  background: #485654;
  /* background-color: #485654; */
  box-shadow: 0 7px 30px rgba(0, 0, 0, 0.1);
  /* backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(5.3px); */
}

.info {
  line-height: 1.7em;
}

.info ul {
  margin-top: 1em;
}

.info ul li {
  list-style: none;
  line-height: 3em;
  font-size: 0.8em;
  color: white;
}

.info ul li .fas {
  margin-right: 1em;
  font-size: 1.5em;
  color: #7c8d7a;
}
.contactinfo {
  background: #485654;

  padding: 1em 0em;
}

.contactinfo .fas {
  color: rgba(212, 212, 212, 0.468);
  font-size: 0.9em;
  padding: 1em;
}

.contactimg {
  display: none;
}

.contactinfo p {
  color: #fddc9a !important;
  font-size: 0.9em;
}

.contactinfo .yest {
  color: #fddc9a !important;
}

/* small pc */
@media screen and (max-width: 1250px) {
  .recipe--welcome--img {
    width: 97%;
    margin: 0 auto;
    border-radius: 0.5em;
    background-image: url("../img/welcome.jpg");
    background-size: cover;
    padding: 0em;
  }

  .flex {
    flex-direction: row;
    grid-gap: 2em;
    width: 100%;
  }

  .info {
    width: 100%;
    padding: 0em;
    margin: 0 auto;
  }

  .contactimg {
    /* background-image: url("../img/welcome.jpg");
    background-size: cover;
    padding: 10em; */
    float: right;
    border-radius: 50em;
    overflow: hidden;
    position: relative;
    shape-outside: circle();
    width: 15em;
    height: 15em;
    margin: 2em;
    display: inline;
    clear: both;
  }

  .contactimg img {
    /* background-image: url("../img/welcome.jpg");
    background-size: cover;
    padding: 10em; */
    width: 300%;
  }
}

/* tablet pro */
@media screen and (max-width: 750px) {
  .flex {
    flex-direction: row;
    grid-gap: 2em;
    width: 100%;
    padding: 1.7em;
    padding-top: 4.7em;
  }

  .info {
    width: 100%;
    padding: 0em;
    margin: 0 auto;
  }

  .contactimg {
    display: none;
  }

  .contactimgtwo {
    border-radius: 50em;
    width: 7em;
    height: 7em;
    position: relative;
    top: 4em;
    display: block;
  }
  .contactimgtwo img {
    width: 300%;
    border-radius: 50em;
  }
}

.contactinfo .yest {
  color: #fddc9a !important;
  color: #871414 !important;
}
