.welcome {
  margin-bottom: 1em;
  margin-top: 4em;
}

.recipe--welcome--img {
  width: 85%;
  margin: 0 auto;
  border-radius: 0.5em;
  background-image: url("../img/welcome.jpg");
  background-size: cover;
}

.welcome--text {
  border-radius: 0.5em;
  justify-content: space-between;
  margin: 0 auto;
  width: 85%;
  padding: 2em 0em;
}

h1 {
  color: #665b41 !important;
  /*-webkit-text-stroke: 0.5px #f8f8f8;*/
  text-align: left;
  font-weight: bold;
  font-size: 0.9em;
  text-transform: lowercase;
  font-size: 0.9em;
}

.flex {
  display: flex;
  flex-direction: row;
  padding-top: 2em;
  grid-gap: 10em;
  margin: 0 auto;
  align-items: flex-start;
  align-self: flex-start;
  padding: 2em 2em;

  border-radius: 0.5em;
  background: rgba(0, 0, 0, 0.441);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(5.3px);
}

.info {
  flex: 2;
  line-height: 1.7em;
}

.info ul {
  margin-top: 2em;
}

.info ul li {
  list-style: none;
  line-height: 3em;
  font-size: 0.9em;
}

.info ul li .fas {
  margin-right: 1em;
  font-size: 1.5em;
  color: #7c8d7a;
}

/* */

.form--container {
  flex: 3;
}

.form--container {
  padding: 0em 0em;
}

form {
  padding: 2em;
  border-radius: 0.5em;
  margin-bottom: 1em;
  border: 0.1em solid #71a04d5f;
}

form input,
form textarea {
  border-radius: 0.2em;
  border: none;
  background-color: rgb(255, 255, 255);
}

.form--container input,
.form--container textarea {
  width: 100%;
  margin-top: 0em;
  padding: 0.5em;
  font-size: 16px;
  font-family: "roboto", Verdana, Geneva, Tahoma, sans-serif;
}

form button {
  font-size: 0.9em;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
  display: block;
  font-weight: bold;
  color: white;

  margin: 0 auto;
  background-color: #71a04d;
  padding: 1em;
  /*width: 80%;*/
  border-radius: 0.5em;
  text-decoration: none;
}

form div {
  margin-bottom: 1em;
}

label {
  display: block;
  line-height: 2em;
  font-size: 0.9em;
  font-weight: bold;
}

.form-error-contact {
  display: none;
  color: rgb(255, 169, 70);
  font-size: 0.9em;
  margin: 0.5em 0em;
}

.success_text-contact {
  display: none;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 1em;
}

textarea {
  display: block;
  width: 100%;
  height: 15em;
}

/* small pc */
@media screen and (max-width: 1250px) {
  .recipe--welcome--img {
    width: 85%;
    margin: 0 auto;
    border-radius: 0.5em;
    background-image: url("../img/welcome.jpg");
    background-size: cover;
  }

  .flex {
    flex-direction: row;
    text-align: center;
    grid-gap: 2em;
  }

  .form--container {
    margin: 0 auto;
    width: 50%;
  }

  form {
    text-align: left;
  }

  .info {
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }
}

/* tablet pro */
@media screen and (max-width: 1030px) {
  .form--container {
    margin: 0 auto;
    width: 70%;
  }
}

/* tablet */
@media screen and (max-width: 768px) {
  .form--container {
    margin: 0 auto;
    width: 85%;
  }

  .flex {
    flex-direction: column;
    text-align: center;
    grid-gap: 2em;
  }

  .info {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
}

/* mobile xl */
@media screen and (max-width: 540px) {
  .form--container {
    margin: 0 auto;
    width: 100%;
  }

  .recipe--welcome--img {
    width: 99%;
    margin: 0 auto;
    border-radius: 0.5em;
    background-image: url("../img/welcome.jpg");
    background-size: cover;
  }

  .flex {
    padding: 5em 1em;
  }
}

p,
label,
li {
  color: white !important;
}
