.container {
  background-color: red;
  width: 97%;
  background-color: #485654;
  padding: 0;
}

.welcome--container,
.vertical {
  height: 92vh;
}

.welcome--container {
  margin: 0 auto;
  border-radius: 0.2em;
  display: table; /* Make the container element behave like a table */
  width: 100%;
}

/* .welcome--container:last-of-type > div {
  display: table-cell;
  /* Other formatting here. */

.welcome--img {
  background-image: url("../img/welcome.jpg");
  /* image-rendering: -webkit-optimize-contrast; */
  image-rendering: pixelated;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  max-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  display: table-cell;
  width: 30%;
}

.vertical {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.welcome--text {
  text-align: center;
  line-height: 3em;
  font-size: 1em;
  font-weight: lighter;

  display: table-cell;
}

/*serachbos*/
.searchhome {
  width: 50%;
  margin: 0 auto;
  padding: 1em 0em 2em 0em;
}

.searchhome form {
  display: flex;
  flex-direction: row;
}

.searchhome input {
  width: 100%;
  padding: 1em;
  border: none;
  border-radius: 0.5em 0em 0em 0.5em;

  font-family: "source sans pro", arial;
}

.searchhome form button {
  padding: 0em 0.5em;
  color: rgb(59, 59, 59);
  font-size: 1.5em;
  background: white;
  border-radius: 0em 0.5em 0.5em 0em;
  border: none;
  cursor: pointer;
  /*align-self: center; /**** vertical*/
}

/**/

.welcome--text h1 {
  color: #fddc9a;
  font-weight: 600;
  padding: 0.5em 0em;
  margin: 0 auto;
  font-weight: lighter;
  font-size: 1.3em;
}

.welcome--text h1 span {
  font-family: "satisfy", sans-serif;
  font-size: 1.3em;
  margin-left: 0.3em;
}

/************ CATEGORIES ******/

/* cards recipies */

.type--category h2 {
  margin-bottom: 4.5em;
  color: #fddc9a !important;
  font-size: 1.5em;
  text-align: center;
}

/* typeee */

.type--category {
  margin: 0 auto;
  margin-top: 0em;
  padding: 3em 10em 20em 3em;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.type--category-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-gap: 2em;
}

.type--category-flex button {
  flex: 4 40% 10%;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
  background: none;
  border-radius: 0.1em;
  padding-bottom: 3em;

  overflow: hidden;
  text-align: center;
  color: rgb(207, 207, 207) !important;
}

.maincourse,
.dessert,
.breakfast,
.beverage {
  display: block;
  pointer-events: none;
  cursor: pointer;
  border-radius: 50em;
  padding: 6em;
  max-width: 5em;
  margin: 0 auto;

  background-image: url("../img/welcome.jpg");
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  flex: 1;
}
.dessert {
  background-image: url("../img/dessert.jpg");
}

.breakfast {
  background-image: url("../img/breakfast.jpg");
}

.beverage {
  background-image: url("../img/beverage.jpg");
}

.title {
  display: block;
  font-size: 1em;
  text-transform: uppercase;
  margin-top: 1em;
  font-weight: bold;
}

.buttons {
  padding: 0.2em 0em;
  font-size: 0.9em;
  display: inline-block;
  margin-top: 1em;
  border-radius: 0.1em;
  font-weight: lighter;

  /*background-color: #537d63;*/
  color: rgb(206, 206, 206);
}

.type--category button {
  color: rgb(201, 201, 201);
}

/***** FEATURED *****/

.featured-container {
  display: flex;
  flex-direction: column;
  /*background-color: red;*/
  grid-gap: 0em;
  text-align: center;
  align-items: center;

  background-color: #c8c8c8;
  border-radius: 70% 30% 40% 20%;
  /* background-color: #485654; */

  width: 90%;
  margin: 0 auto;

  /* margin-top: 4em; */

  /* padding-top: 5em; */
  padding-bottom: 3em;
  position: relative;
  top: -1em;
}

.img-boc {
  overflow: hidden;
  border-radius: 50em;

  position: relative;
  top: -4em;

  height: 30vh;
  width: 30vh;
}

.img-boc img {
  width: 100%;
}

.featured-sticker {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1em;

  padding: 0em;
}

.featured-container h2 {
  font-size: 1.5em;
  color: #403621 !important;
  font-weight: lighter;
}

.featured-container p {
  color: rgb(49, 49, 49);
}

.text-f {
  line-height: 1.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0em 7em 2em 7em;
}

.featured-container .buttons {
  padding: 1.5em;
  color: rgb(47, 47, 47);

  margin-top: 4em;
  font-size: 0.8em;
  font-family: "domine";
}

/*box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);*/

/* small pc */
@media screen and (max-width: 1250px) {
  .cards--recipes {
    width: 90%;
  }

  .type--category {
    padding: 3em 3em 20em 3em;
  }

  .card {
    flex: 1 0 30%;
    max-width: calc(30% - 1em); /*this*/
  }

  .popular {
    padding-left: 0em;
  }

  .maincourse,
  .dessert,
  .breakfast,
  .beverage {
    padding: 4em;
  }
}

/* tablet pro */
@media screen and (max-width: 1030px) {
  .cards--recipes {
    width: 100%;
  }

  .card {
    flex: 1 0 25%;
    max-width: calc(35% - 1em); /*this*/
  }

  .welcome--text {
    width: 80%;
  }

  .welcome--text h1 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    /* padding-top: 5em; */
  }

  .welcome--text h1 {
    margin-bottom: 0.5em;
    line-height: 1.5em;
  }

  .glass {
    padding-bottom: 5em;
  }
}

/* tablet */
@media screen and (max-width: 900px) {
  .vertical {
    padding: 5em;
  }

  .welcome--img,
  .glass {
    height: 56vh;
  }

  .welcome--text h1 {
    font-size: 1.1em;
    margin-bottom: 0.5em;
    line-height: 1.5em;
  }

  .welcome--text {
    width: 85% !important;
    vertical-align: center;
    padding: 0em 0em;
    line-height: 3em;
    font-size: 1em;
    font-weight: bold;
    padding: 0em 0em;
  }

  /*serachbos*/
  .searchhome {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 1em 0em 2em 0em;
  }

  .searchhome form {
    width: 100%;
  }

  .searchhome input {
    width: 100%;
    border: none;
  }

  /**/

  .cards--recipes {
    width: 100%;
  }

  .card {
    flex: 1 0 40%;
    max-width: calc(40% - 1em); /*this*/
  }

  .see--more {
    width: 50%;
  }

  .ingredients--text {
    padding: 7em 1em;
  }

  /***** FEATURED *****/

  .featured-container {
    border-radius: 50% 30% 40% 20%;
    /* background-color: #485654; */

    width: 97%;

    /* margin-top: 4em; */

    /* padding-top: 5em; */
    padding-bottom: 0em;
    position: relative;
    top: -1em;
  }

  .img-boc {
    top: -4em;

    height: 25vh;
    width: 25vh;
  }

  .featured-sticker {
    margin-bottom: 1em;
    padding: 0em;
  }

  .featured-container h2 {
    color: #403621 !important;
    font-weight: lighter;
  }

  .text-f {
    line-height: 1.7em;
    flex-direction: column;
    align-items: center;
    padding: 0em 3em 2em 3em;
  }

  .featured-container .buttons {
    padding: 1.5em;
    margin-top: 2em;
    font-size: 0.8em;
  }
}

/* mobile xl */
@media screen and (max-width: 600px) {
  .vertical {
    padding: 2em;
  }

  .welcome--img,
  .glass {
    height: 65vh;
  }

  .cards--recipes {
    grid-gap: 3.7em;
    width: 90%;
    flex-direction: column;
  }

  .card {
    margin: 0 auto;
    flex: 1 0 90%;
    max-width: calc(90% - 1em); /*this*/
    min-width: calc(90% - 1em); /*this*/
  }

  .card:last-child {
    margin: 0 auto;
  }

  .ingredients-button {
    width: 100%;
    padding: 1em 1em;
  }

  .ingredients-button p {
    line-height: 2em;
  }

  .card--button--container {
    margin-top: auto;
  }

  .see--more {
    width: 100%;
  }

  .card:last-child {
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .welcome--container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 80vh;
    align-items: center;
    justify-content: center;

    padding-bottom: 10em;
  }

  h1 {
    font-size: 1.3em !important;
  }

  .vertical {
    padding-top: 15em;
    flex: 1;
    height: 60vh;
  }

  .welcome--img {
    flex: 1;
    padding: 10em;
    margin: 0 auto;
    display: inline-block;
  }

  .welcome--text {
    width: 100% !important;
  }

  /************ CATEGORIES ******/

  /* cards recipies */

  .type--category h2 {
    margin-bottom: 4em;
  }

  .type--category {
    padding: 10em 2em 20em 2em;
  }

  .type--category-flex {
    flex-direction: row;
    grid-gap: 3em;
  }

  .type--category-flex button {
    flex: 1 0 30%;
  }

  .maincourse,
  .dessert,
  .breakfast,
  .beverage {
    padding: 5em;
  }

  .title {
    display: block;
    font-size: 1em;
    text-transform: uppercase;
    margin-top: 1em;
    font-weight: bold;
  }

  .buttons {
    padding: 0.2em 0em;
    font-size: 0.9em;
    margin-top: 1em;
    border-radius: 0.1em;
    font-weight: lighter;
  }
}

@media screen and (max-width: 414px) {
  .vertical {
    padding-top: 20em;
    flex: 1;
    height: 80vh;
  }

  h1 {
    font-size: 1.1em !important;
  }

  .type--category h2,
  .text-f h2 {
    font-size: 1.3em !important;
  }

  /************ CATEGORIES ******/

  /* cards recipies */

  .type--category h2 {
    margin-bottom: 4em;
  }

  .type--category {
    padding: 10em 2em 20em 2em;
  }

  .type--category-flex {
    flex-direction: row;
    grid-gap: 3em;
  }

  .type--category-flex button {
    flex: 1 0 30%;
  }

  .maincourse,
  .dessert,
  .breakfast,
  .beverage {
    padding: 4em;
  }

  .title {
    display: block;
    font-size: 0.8em;
    text-transform: uppercase;
    margin-top: 1em;
    font-weight: bold;
  }

  .buttons {
    padding: 0.2em 0em;
    font-size: 0.9em;
    margin-top: 1em;
    border-radius: 0.1em;
    font-weight: lighter;
  }

  /***** FEATURED *****/

  .featured-container {
    border-radius: 50% 30% 40% 20%;
    /* background-color: #485654; */

    width: 97%;

    /* margin-top: 4em; */

    /* padding-top: 5em; */
    padding-bottom: 0em;
    position: relative;
    top: -1em;
  }

  .img-boc {
    top: -4em;

    height: 25vh;
    width: 25vh;
  }

  .featured-sticker {
    margin-bottom: 1em;
    padding: 0em;
  }

  .featured-container h2 {
    color: #403621 !important;
    font-weight: lighter;
  }

  .text-f {
    padding: 0em 1em 2em 1em;
  }

  .featured-container .buttons {
    padding: 1.5em;
    margin-top: 2em;
    font-size: 0.8em;
  }
}
