* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  background-color: #efefef;
  background-color: #d3d3d3;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.wrapper {
  flex: 1 0 auto;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 1em;
  margin-top: 3.3em;
}

.smaller--container {
  padding: 3em 0em;
  width: 80%;
}

/* fonts */

h1 {
  font-size: 1.7em;
  font-weight: lighter;
  font-family: "domine", sans-serif;
}

h2 {
  margin-bottom: 1em;
  color: rgb(83, 131, 83) !important;
  font-weight: bold;
  font-family: "domine";
}

h1,
h2 {
  font-weight: lighter;
}

p {
  font-family: "source sans pro", sans-serif;
}

p,
li {
  font-size: 0.9em;
  color: rgb(47, 47, 47);
}

a {
  color: black;
  text-decoration: none;
  font-size: 0.9em;
  font-family: "Roboto Flex", sans-serif;
  font-weight: bold;
}

.logo {
  font-family: "satisfy";
  font-size: 1.4em;
  font-weight: bold;
  color: #355c2b;
}

.card h2 {
  font-family: "inter", sans-serif;
  font-weight: lighter;
}

/* general */

.main--button {
  margin: 0 auto;
  border: 0.1em solid #65a236;
  padding: 1em 0em;
  display: inline-block;
  /*width: 80%;*/
  color: black;
  text-decoration: none;
}

/* mobile xl */
@media screen and (max-width: 540px) {
  h1 {
    font-size: 1.7em;
  }
}
