.bg {
  width: 98%;
  margin: 0 auto;
  border-radius: 0.5em;
  position: relative;
  top: 2em;
  padding-bottom: 3em;
}

/* 
h1 {
  color: #485654;
  text-align: center;
  font-weight: bold;
  font-family: "domine";
  font-size: 1.1em;
} */

h1 {
  color: #485654;
}

.welcome--text {
  /* border-radius: 0.5em; */
  justify-content: space-between;
  padding: 2em 0em 2em 0em;
  margin: 0 auto;
  display: inline-block;
  width: 100%;

  /* background-color: #485654; */
}

/* search */ /* search */ /* search */ /* search */ /* search */ /* search */
.search--container {
  padding: 0em 0em;
  flex: 3; /*****/
  text-align: right;
  width: 60%;
  margin: 0 auto;
}

.search {
  flex: 3;
  margin-right: 0;
  text-align: right;
  display: flex;
  margin-bottom: 2em;
}

.search input {
  outline: none;
  box-shadow: none;
  background: #fff !important;
  flex: 3;
  width: 100%;
  border: 0.1px solid rgba(127, 127, 127, 0.48);

  padding: 1em;
  border: none;
  border-radius: 0.5em 0em 0em 0.5em;
  font-family: "source sans pro", arial;
}

#search-submit {
  border: none;
  vertical-align: middle;
}

.search .fas {
  color: #485654;
  /* -webkit-text-stroke: 0.1em #d3d3d3; */
  font-weight: bold;
}

.search #search-submit {
  padding: 0em 0.5em;
  color: #485654;
  font-size: 1.5em;
  background: white;
  border-radius: 0em 0.5em 0.5em 0em;
  border: none;
  cursor: pointer;
  /*align-self: center; /**** vertical*/
}

/* search */ /* search */ /* search */ /* search */ /* search */ /* search */

/**/
.cards--ingridients {
  width: 70%;
  display: flex;
  grid-gap: 3em;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
  margin: 0 auto;

  padding-top: 3em;
}

.cards--ingridients::after {
  content: "";
  flex: auto;
  width: 28%;
}

.card {
  flex: 1 0 28%;
  text-align: left;
  overflow: hidden;
  max-width: calc(35% - 1em);
  box-shadow: 0px 0px 1px 0px #939393;
  margin: 0 auto;

  background-color: #ffffff;
  overflow: hidden;
}

.card--text {
  padding: 0em 1.7em 3em 1.7em;
  min-height: 30%;
  display: flex;
  flex-direction: column;
}

.card h2 {
  margin: 1.7em 0em;
  text-align: left;
  line-height: 1.3em;
  color: #000000 !important;
  font-size: 1.1em; /*here*/
  text-transform: lowercase;
  font-family: "inter";
  font-weight: bold;
}

.card h2::first-letter {
  text-transform: capitalize;
}

.card img {
  width: 120%;
}

.card .img {
  width: 100%;
  height: 30vh;
  overflow: hidden;
}

.card--button--container {
  margin-top: 0.2em;
}

.card--button {
  padding: 0.2em 0em;
  border-radius: 0em;
  display: inline-block;
  font-family: "domine";
  font-size: 0.8em;
  color: #000000 !important;
  margin-top: auto;
  border: none;
}

/*****/

.cards--ingridients {
  text-align: center;
}

.cards--ingridients .ssh {
  color: black;
  text-align: center;
}

/* small pc */
@media screen and (max-width: 1250px) {
  .search--container {
    width: 90%;
  }
  .search {
    width: 67%;
    margin: 0 auto;
  }

  .cards--ingridients {
    width: 67%;
  }

  .card {
    flex: 1 0 30%;
    max-width: calc(30% - 1em);
  }
}

/* tablet pro */
@media screen and (max-width: 1030px) {
  .search {
    width: 70%;
    margin: 0 auto;
  }

  .cards--ingridients {
    width: 87%;
  }
}

/* tablet */
@media screen and (max-width: 768px) {
  .card {
    flex: 1 0 30%;
    max-width: calc(30% - 1em);
  }

  .welcome--text {
    width: 90%;
  }

  .card img {
    width: 120%;
    filter: sepia(1) brightness(8) hue-rotate(1);
  }

  .card .img {
    height: 20vh;
  }

  .card {
    flex: 1 0 20%;
    grid-gap: 1em;
    max-width: calc(50% - 1em);
  }
}

/* mobile xl */
@media screen and (max-width: 611px) {
  .cards--ingridients {
    grid-gap: 3.7em;
    flex-direction: row;
  }

  .card {
    flex: 1 0 90%;
    max-width: calc(90% - 1em);
    min-width: calc(90% - 1em);
  }

  .search {
    width: 100%;
    margin: 0 auto;
    text-align: right;
    display: flex;
  }

  .search .fas {
    font-size: 0.9em;
  }
}
