/* */

.bg {
  background-color: #485654;
  width: 98%;
  margin: 0 auto;
  border-radius: 0.5em;
  position: relative;
  top: 2em;
  padding-bottom: 3em;
}

h1 {
  color: #fddc9a;
}

.welcome-container {
  width: 99%;
}

.none {
  display: none;
}

.flextest {
  display: flex;
  flex-direction: row-reverse;
  width: 92%;
  padding: 2em;
  margin: 0 auto;
  flex-wrap: wrap;
  grid-gap: 2em;
  background-color: #485654;
}

.tetttt {
  padding-bottom: 20em;
}

.welcome--text {
  /* border-radius: 0.5em; */
  justify-content: space-between;
  padding: 2em 0em 2em 0em;
  margin: 0 auto;
  display: inline-block;
  width: 100%;

  /* background-color: #485654; */
}

/* search */
.search--container {
  padding: 0em 0em;
  flex: 3; /*****/
  text-align: right;
}

.search {
  flex: 3;
  margin-right: 0;
  text-align: right;
  display: flex;
  margin-bottom: 2em;
}

.search input {
  outline: none;
  box-shadow: none;
  background: #fff !important;
  flex: 3;
  width: 100%;
  padding: 1em;
  border: 0.1px solid rgba(127, 127, 127, 0.48);

  border: none;
  border-radius: 0.5em 0em 0em 0.5em;
  font-family: "source sans pro", arial;
}

#search-submit {
  background: none;
  border: none;
  color: #5c6d4f;
  font-size: 1.5em;
  background: white;
  cursor: pointer;
  padding: 0em 0.5em;
  vertical-align: middle;
  border-radius: 0em 0.5em 0.5em 0em;
}

/* filter & recipe container */
.filter--recipe--container {
  display: flex;
  flex-direction: row;
  flex: 1; /***/
}

/* filter */
.filter label {
  display: block;
  font-size: 1em;
  margin-bottom: 0.5em;
  font-family: "source sans pro";
  font-weight: normal;
  color: #fddc9a;
}

.filter select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  outline: none;
  box-shadow: none;
  background: #fff !important;
  width: 10em;
  padding: 0.3em;
  font-size: 1.2em;
  border: none;
  border-radius: 0.5em;
}

.arrow::after {
  content: "⌄";
  position: relative;
  background: transparent;
  display: inline;
  left: -1.2em;
  top: -0.1em;
  color: #5c6d4f;
  font-size: 1.5em;
  /* background-color: #939393; */

  pointer-events: none; /* let clicks go through */
}

@media screen and (min--moz-device-pixel-ratio: 0) {
  .arrow::after {
    top: -0em;
    font-weight: bold;
  }
}

#sort,
#intolerance,
#sort option,
#intolerance option {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
  -webkit--moz-appearance: none;
  font-size: 1em;
  font-family: "source sans pro";
}

.filter select option {
  font-size: 1em;
}

.filter select option {
  font-size: 0.5em;
}

.per-page,
.populraity,
.testfilter {
  margin-bottom: 2.5em;
}

/*** category */

.radio-button input[type="radio"] {
  display: none;
}
.radio-button label {
  display: inline-block;
  background-color: #485654;
  padding: 10px 11px;
  font-family: "source sans pro";
  font-size: 1em;
  margin: 0.3em;
  cursor: pointer;
  border: 0.1em solid rgba(120, 136, 121, 0.277);
  border-radius: 0em;
  color: #fddc9a;
  font-weight: normal;
}

.radio-button input[type="radio"]:checked + label {
  background-color: #fddc9a;
  color: #485654;
  border: 0em solid #efefef;
}

input[type="radio"] {
  background-color: yellow !important;
}

.selectflex {
  display: flex;
  flex-direction: column;
}

/* tablet pro */
@media screen and (max-width: 1030px) {
  /*
  .hidex {
    display: block;
  }

  .show {
    display: none;
  }
  */

  .selectflex {
    display: flex;
    flex-direction: row;
  }

  .flextest {
    flex-direction: column;
    width: 100%;
  }

  .search {
    width: 100%;
    margin: 0 auto;
  }

  .filter--recipe--container {
    width: 100%;
    padding-top: 0em;
    flex-direction: column;
    text-align: left;
  }

  .filter--recipe--container label {
    text-align: left;
  }

  .filter {
    display: flex;
    grid-gap: 0em;
    justify-content: space-between;
    flex-direction: column;
  }
  /* 
  .per-page,
  .populraity,
  .testfilter {
    display: inline-block;
    background-color: #fddc9a;
  } */

  .radio-button label {
    font-size: 1em;
  }
}

/* mobile xl */
@media screen and (max-width: 600px) {
  .selectflex {
    width: 100%;

    grid-gap: 1em;
  }

  .selectflex select {
    width: 9em;
  }

  .search .fas {
    font-size: 0.9em;
  }
}

/* mobile */
@media screen and (max-width: 414px) {
  .arrow::after {
    left: 5em;
    top: -1.5em;
    font-size: 1.5em;
  }

  .filter {
    display: flex;
    grid-gap: 0em;
    justify-content: space-between;
    flex-direction: column;
    grid-gap: 1em;
  }

  .flextest {
    grid-gap: 3em;
  }

  .meal-type label {
    margin: 0.5em 0.5em;
  }

  .filter {
    flex-direction: column;
    margin-bottom: 0em;
  }

  .per-page,
  .populraity,
  .testfilter {
    display: inline-block;
    margin-bottom: 1em;
  }
}

/* mobile xs */
@media screen and (max-width: 314px) {
  .selectflex {
    flex-direction: column;
  }

  .arrow::after {
    left: -1.2em;
    top: -0.1em;
  }
}

/***
#search-submit {
  background: none;
  border: none;
  color: #5c6d4f;
  font-size: 1.5em;
  background: white;
  cursor: pointer;
  padding: 0em 0.5em;
  vertical-align: middle;
  border-radius: 0em 0.5em 0.5em 0em;
}
*/
