.recipe--details--img {
  margin-top: 1em;
  margin-bottom: 0.3em;
  width: 100%;
  height: 15em;
  overflow: hidden;
  text-align: center;
  color: rgb(255, 255, 255);
}

.recipe--details--img img {
  width: 67%;
  margin: 0 auto;
}

.recipe--container {
  margin: 0 auto;
  width: 67%;
  background-color: #485654;
  text-align: center;
}

.recipe--container h1 {
  text-align: center;
  text-transform: lowercase;
  font-size: 0.9em;
  color: #fddc9a;
}

.recipe--container h1:first-letter {
  text-transform: uppercase;
}

.recipe--time {
  border-bottom: 0.3em solid#d3d3d3;
  width: 100%;
  font-size: 1.1em;
  padding: 2em 0em 1em 0em;
  color: rgb(255, 255, 255);
  display: inline-block;
}

.recipe--time p {
  margin: 2em 0em 1em 0em;
  color: rgb(255, 255, 255);
  display: inline-block;
}

.recipe--diet ul {
  list-style-type: none;
}

.recipe--diet ul li {
  margin-top: 1em;
  color: rgb(255, 255, 255);
}

.recipe--diet .fas {
  margin-right: 1em;
  font-size: 0.5em;
}

.recipe--details--text {
  display: flex;
  text-align: left;
  flex-direction: row;
  grid-gap: 0em;
  padding: 0em;
  color: rgb(255, 255, 255);
}

.recipe--instructions ol li {
  list-style-type: decimal;
  text-align: left;
  margin: 1.2em 0em;
  color: rgb(255, 255, 255);
}

ol > li::marker {
  font-weight: bold;
}

.recipe--instructions-summary {
  line-height: 1.4em;
  flex: 3;
  font-family: "inter";
  padding: 3em 2em 3em 3.7em;
}

.recipe--instructions-summary h2 {
  margin-bottom: 1em;
  text-align: left;
  color: rgb(255, 255, 255);
  color: #fddc9a;
}

.recipe--summary {
  margin-top: 5em;
}

/* left box */

.recipe--ingridientsdiet {
  width: 100%;
  flex: 1;
  line-height: 1.3em;
  padding: 2em 3em 2em 2em;
  border-right: 0.3em solid#d3d3d3;
}

.recipe--ingridientsdiet ul {
  list-style-type: none;
}

.recipe--ingridients {
  margin-bottom: 3em;
}

.recipe--ingridients p {
  margin: 1em 0em 2em 0em;
  font-weight: bold;
}

.recipe--ingridients li {
  margin: 1em 0em;
}

h3 {
  color: rgb(255, 255, 255);
  font-size: 1.1em;
}

.recipe--diet ul {
  font-weight: bold;
  font-size: 1em;
}

.recipe--diet ul li .fas {
  color: grey;
}

/**/

.back {
  text-align: center;
  margin-top: 3em;
  padding: 3em;
  font-size: 1.3em;
  color: rgb(67, 67, 67);
}

.back p {
  display: inline;
}

/* small pc */
@media screen and (max-width: 1250px) {
  .recipe--container {
    width: 75%;
  }

  .recipe--details--img img {
    width: 75%;
    margin: 0 auto;
  }
}

/* tablet pro */
@media screen and (max-width: 1030px) {
  .recipe--container {
    margin: 0 auto;
    width: 70%;
    text-align: center;
  }

  .recipe--details--img {
    width: 70%;
    margin: 0 auto;
    height: 17em;
    overflow: hidden;
    text-align: center;
  }

  .recipe--details--img img {
    width: 200%;
    margin: 0 auto;
  }

  .recipe--time {
    padding: 3em 2em;
  }

  .recipe--details--text {
    text-align: center;
    flex-direction: column;
  }

  .recipe--instructions-summary h2 {
    margin-bottom: 2em;
    text-align: center;
  }

  .recipe--ingridientsdiet {
    border-right: 0em;
    border-bottom: 0.3em solid#d3d3d3;
  }

  .recipe--instructions-summary {
    padding: 3em 3em;
  }
}

@media screen and (max-width: 700px) {
  .recipe--details {
    margin-top: 2em;
  }

  .recipe--details--img {
    width: 90%;
    margin: 0 auto;
    height: 20em;
    overflow: hidden;
    text-align: center;
  }

  .recipe--details--img img {
    width: 200%;
    margin: 0 auto;
  }

  .recipe--container {
    width: 90%;
  }
}

p,
ul li,
a {
  color: rgb(226, 226, 226);
}

.back p {
  color: rgb(67, 67, 67);
}
